@import url("./caiuss.min.css");
@import url("./me.min.css");
@import url("./me-theme.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css");
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);

.left, .right {
    width: 50%;
    float: left;
    font-size: 19px;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    word-wrap: break-word;
    margin-left: 10px;
}

a:hover {
    color: #2980b9 !important;
}

blockquote {
    margin: 25px;
    border-left: 6px solid #2ecc71;
    padding-left: 9px;
    margin-left: -15px;
}

.editor > .left {
    font-family: 'Lora', serif;
    outline: none;
}

